<h2>Sample Reactive form With Asynchronous Validation</h2>
<form [formGroup]="changePasswordForm">
  <div class="form-group">
    <label for="oldPass">Old Password</label>
    <input 
      formControlName="oldPass"
      type="text"
      id="oldPass" 
      class="form-control">
  </div>
  <div 
    *ngIf="oldPass.touched && oldPass.invalid"
    class="alert alert-danger">
    <div *ngIf="oldPass.errors.required">Please enter your old password.</div>
    <div *ngIf="oldPass.errors.oldPassWrong">Old password is wrong.</div>
  </div>
    <div class="form-group">
        <label for="newPass">New Password</label>
        <input 
          formControlName="newPass"
          type="text" 
          id="newPass"
          class="form-control">
        <div 
          *ngIf="newPass.touched && newPass.invalid"
          class="alert alert-danger">
          <div *ngIf="newPass.errors.required">Please provide a new password.</div>
        </div>
    </div>

      <div class="form-group">
          <label for="confirmPass">Confirm Password</label>
          <input 
            formControlName="confirmPass"
            type="text" 
            id="confirmPass"
            class="form-control">
          <div 
            *ngIf="confirmPass.touched && confirmPass.invalid"
            class="alert alert-danger">
            <div *ngIf="confirmPass.errors.required">Please confirm your new password.</div>
            <div *ngIf="changePasswordForm.errors.passwordsDoNotMatch">Passwords do not match.</div>
        </div>
        <div 
            *ngIf="changePasswordForm.invalid 
            && changePasswordForm.errors
            && changePasswordForm.errors.passwordsDoNotMatch"
            class="alert alert-danger">
            Passwords do not match.
        </div>
      </div>
</form>